@using Misskey.Domain
@using Misskey.Services
@using Misskey.Interfaces
@inject INotesService NotesService

@if ( notes == null ) {
    <p>Loading ...</p>
} else {
    @foreach ( var note in notes ) {
        <NoteCard Model="@(note)" />
    }
}

@code {
    /// <summary>
    /// タイムラインで表示するノートのシーケンス。
    /// </summary>
    private IEnumerable<Note>? notes;

    /// <summary>
    ///初期化した後に実行されます。
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync() {
        notes = await NotesService.GetNotesAsync();
    }
}
