@using Misskey.Domain
@using FutureCentury.Tonzil.Data
@inject NotesService NotesService

@if ( notes == null ) {
    <p>Loading ...</p>
} else {
    @foreach ( var note in notes ) {
        @* プリミティブ型ではないオブジェクトをこうやって渡すことはできるのだろうか？
         * さっき、唐突にわかった。() を付けなさいということだ。 
         * が、表示されるのにあぼーんする。 *@
        <NoteCard Model="@(note)" />
    }
}

@code {
    /// <summary>
    /// タイムラインで表示するノートのシーケンス。
    /// </summary>
    private IEnumerable<Note>? notes;

    /// <summary>
    ///初期化した後に実行されます。
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync() {
        notes = await NotesService.GetNotesAsync();
    }
}
